<div class='account-page'>
 <% if user_signed_in?  %>
  <li><%= link_to current_user.name + "さんのマイページへ",user_path(current_user.id), class:"btn" %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"%></li>
 <% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "btn" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "btn" %></li> 
 <% end %>

 <% if user_signed_in? && current_user.admin? %>
  <li><%= link_to 'スタッフ登録', new_staff_path, class: "btn" %></li>
 <% end %>

 <h2>スタッフ紹介</h2>
  

 <% @staffs.each do |staff| %>
  <% if user_signed_in? && current_user.admin? %>
    <li><%= link_to '編集する',  edit_staff_path(staff.id), class: "btn" %></li>
   <li><%= link_to '削除する', staff_path(staff.id), method: :delete, class: "btn" %></li> 
  <% end %>

  <table class="table">
   <div class='staff-profile'>
     <tr>
       <%= link_to appoints_path do%>
        <%= image_tag staff.image, class: "staff-img" %>
       <% end %>
     </tr>
     <tr>
       <th class="table__col1">名前</th>
       <td class="table__col2"><%= staff.name %></td>
     </tr>
     <tr>
       <th class="table__col1">性別</th>
       <td class="table__col2"><%= staff.gender %></td>
     </tr>
     <tr>
       <th class="table__col1">年齢</th>
       <td class="table__col2"><%= staff.age %>歳</td>
     </tr>
     <tr>
       <th class="table__col1">役職</th>
       <td class="table__col2"><%= staff.position %></td>
      </tr>
      <tr>
       <th class="table__col1">得意分野</th>
       <td class="table__col2"><%= staff.advantage %></td>
      </tr>
      <tr>
       <th class="table__col1">アピールポイント</th>
       <td class="table__col2"><%= staff.appeal %></td>
      </tr> 
    </div>
   </table>
  <% end %>
 </div>