<div class='account-page'>
 <% if user_signed_in?  %>
  <li><%= link_to current_user.name + "さんのマイページへ",user_path(current_user.id), class:"btn" %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn"%></li>
 <% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "btn" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "btn" %></li> 
 <% end %>

 <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'スタッフ登録', new_staff_path, class: "btn" %>
 <% end %>

 <h2>今週の予約表</h2>
 <%= week_calendar events:@appoints do |date, appoints| %>
  <%= date.day %>
  <% appoints.each do |appoint| %>
    <div>✅<%= appoint.user.name %>様 </div>
    <div><%= appoint.time_select.name %>予約完了 </div>
  <% end %>
<% end %>


 <h2>スタッフ紹介</h2>
 <h4>画像をクリックしてスタッフを選択してください</h4>

 <% @staffs.each do |staff| %>
  <table class="table">
   <div class='staff-profile'>
     <tr>
       <%= link_to staff_path(staff.id) do%>
        <%= image_tag staff.image, class: "staff-img" %>
       <% end %>
     </tr>
     <tr>
       <th class="table__col1">名前</th>
       <td class="table__col2"><%= staff.name %></td>
     </tr>
     <tr>
       <th class="table__col1">性別</th>
       <td class="table__col2"><%= staff.gender.name %></td>
     </tr>
     <tr>
       <th class="table__col1">年齢</th>
       <td class="table__col2"><%= staff.age %>歳</td>
     </tr>
     <tr>
       <th class="table__col1">役職</th>
       <td class="table__col2"><%= staff.position %></td>
      </tr>
      <tr>
       <th class="table__col1">得意分野</th>
       <td class="table__col2"><%= staff.advantage %></td>
      </tr>
      <tr>
       <th class="table__col1">アピールポイント</th>
       <td class="table__col2"><%= staff.appeal %></td>
      </tr> 
    </div>
   </table>
  <% end %>
 </div>

 